# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/*
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Editor directories and files
.vscode/
.idea/
*.swp
*egg-info/

# Folders and files to ignore
outputs/*
input_data/*
data/
